<div class="input-field {{ className }}">
    <label class="input-field__label" for="{{ id }}">
        {{ label }}
    </label>
    <input name="{{ name }}" class="input-field__control" type="text" id="{{ id }}" placeholder="{{ placeholder }}" value="{{ value }}">
    <label class="input-field__error" for="{{ id }}">
        {{ error }}
    </label>
</div>